<ng-container *ngIf="trendingCurrency$ | async as trendingCurrency">
    <div class="banner py-3">
        <div class="container">
            <section class="header">
                <h1>Crypto checker</h1>
                <p>check all crypto currency latest updates</p>
            </section>
            <section class="sub-header">
                <marquee
                    behavior="scroll"
                    onmouseover="stop()"
                    direction="left"
                    onmouseout="start()"
                    loop="infinite"
                >
                    <div class="row">
                        <ng-container
                            *ngFor="let row of trendingCurrency; let i = index"
                        >
                            <div class="col-1">
                                <div class="card">
                                    <div class="card-image">
                                        <img
                                            [src]="row.image"
                                            alt=""
                                            class="img-fluid"
                                        />
                                    </div>
                                    <div
                                        class="card-body d-flex align-items-center flex-column"
                                    >
                                        <h5 class="card-title me-1">
                                            {{ row.symbol | uppercase }}

                                            <span class="text-danger">
                                                {{
                                                    row.market_cap_change_percentage_24h
                                                }}
                                            </span>
                                        </h5>
                                        <p class="card-text">
                                            {{
                                                row.current_price
                                                    | currency : currency
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </marquee>
            </section>
        </div>
    </div>
</ng-container>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<div class="container my-3 py-2">
    <ng-container *ngIf="allData$ | async as allData">
        <p-table
            #dt1
            [value]="allData"
            [globalFilterFields]="[
                'symbol',
                'current_price',
                'price_change_percentage_24h',
                'market_cap'
            ]"
            selectionMode="single"
            [(selection)]="selectedCoins"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rows]="5"
            [paginator]="true"
            stateStorage="session"
            stateKey="statedemo-session"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="caption">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>

                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter($event)"
                        placeholder="Global Search"
                    />
                </p-iconField>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="symbol" style="width: 25%">
                        Coin <p-sortIcon field="symbol" />
                    </th>
                    <th pSortableColumn="current_price" style="width: 25%">
                        Price <p-sortIcon field="current_price" />
                    </th>
                    <th
                        pSortableColumn="price_change_percentage_24h"
                        style="width: 25%"
                    >
                        24h Change
                        <p-sortIcon field="price_change_percentage_24h" />
                    </th>
                    <th pSortableColumn="market_cap" style="width: 25%">
                        Market Cap <p-sortIcon field="market_cap" />
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr
                    [pSelectableRow]="row"
                    [routerLink]="['/coin', row.id]"
                    style="cursor: pointer"
                >
                    <td>
                        <span class="p-column-title">Coin</span>
                        {{ row.symbol | uppercase }}
                    </td>
                    <td>
                        <span class="p-column-title">Price</span>

                        <span class="ml-1 vertical-align-middle">{{
                            row.current_price | currency : currency
                        }}</span>
                    </td>
                    <td>
                        <span class="p-column-title"> 24h Change</span>

                        <span class="ml-1 vertical-align-middle"
                            >{{ row.price_change_percentage_24h }}%</span
                        >
                    </td>
                    <td>
                        <span class="p-column-title"> Market Cap</span>
                        <span> {{ row.market_cap | currency : currency }}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>

<a
    appBackToTop
    [scrollThreshold]="500"
    [smoothScroll]="true"
    class="top"
    style="
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 1.4rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;
    "
>
    <i class="pi pi-arrow-up text-light fs-5"></i>
</a>
