.example-spacer {
    flex: 1 1 auto;
}

::ng-deep {
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline__trailing {
        border-color: var(--border-color) !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline
        .mdc-notched-outline__trailing {
        border-width: 1.5px !important;
    }

    .mdc-text-field--outlined:not(
            .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(
            .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(
            .mdc-text-field--disabled
        ).mdc-text-field--focused
        .mdc-notched-outline__trailing {
        border-color: var(--color-primary) !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
            .mdc-text-field--focused
        ):hover
        .mdc-notched-outline
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
            .mdc-text-field--focused
        ):hover
        .mdc-notched-outline
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
            .mdc-text-field--focused
        ):hover
        .mdc-notched-outline
        .mdc-notched-outline__trailing {
        border-color: var(--color-primary) !important;
    }
}
