<input type="checkbox" class="nav" name="nav" id="nav" />
<label for="nav" class="btn d-flex justify-content-center align-items-center">
</label>
<div class="nav__background">&nbsp;</div>
<nav>
    <ul>
        <li>
            <a href="">
                <span class="me-2" style="display: inline-block">01</span>
                First Link</a
            >
        </li>
        <li>
            <a href="">
                <span class="me-2" style="display: inline-block">01</span>
                First Link</a
            >
        </li>

        <li>
            <a href="">
                <span class="me-2" style="display: inline-block">01</span>
                First Link</a
            >
        </li>
        <li>
            <a href="">
                <span class="me-2" style="display: inline-block">01</span>
                First Link</a
            >
        </li>
        <li>
            <a href="">
                <span class="me-2" style="display: inline-block">01</span>
                First Link</a
            >
        </li>
    </ul>
</nav>
